<footer>
    <section class="footerContainer">
        <div class="LogoContainer">
            <b>CROSSFIT</b>
        </div>
        <div class="navegationFooter">
            <b>Navegation</b>
            <ul>
                <li><a href=""></a></li>
                <li><a href="{% url 'homepage' %}">home</a></li>
                <li><a href="{% url 'competition' %}">Competition</a></li>
            </ul>
        </div>
        <div class="socialMedia">
            <a href="https://www.instagram.com/crossfit/"><i class="fa-brands fa-instagram fa-2x"></i></a>
            <a href="https://www.facebook.com/crossfit/"><i class="fa-brands fa-facebook-f fa-2x"></i></a>
            <a href="https://twitter.com/CrossFit?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa-brands fa-twitter fa-2x"></i></a>
            <a href="https://www.youtube.com/@crossfit"><i class="fa-brands fa-youtube fa-2x"></i></a>

        </div>
    </section>
</footer>